form {
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
}

label {
    margin: 10px 0;
    width:300px;
    display: flex;
    justify-content: space-between;
}

input {
    background: floralwhite;
    border: 1px solid silver;
}

button {
    width: 50%;
    align-self: center;
    padding: 10px;
    margin: 10px 0;
}

span {
    display: block;
    color: crimson;
    font-weight: bold;
    font-size: small;
}

span.add-del-button {
    display: inline-block;
    background-color: black;
    color: white;
    min-width: 20px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}